html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.slider h3, 
.slider h5 
.clients h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container{
  height: 50%;
}
.parallax img{
  filter: grayscale(1);
  opacity: 0.5;
}


.clients img {
  max-width: 150px; 
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section { 
  padding: 20px 0;
}

.contact_Developers{
  padding-left: 20px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 17px;
 

}

.padingCustem5{
    margin :5%; 
}

footer{
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  
}
#project img { 
  margin-bottom: 5px;
  transition:all 0.50s ease-in-out;
}
#project img:hover{
  -webkit-transform: scale(1.08);
  transition: all 1s ease;
  transform: scale(1.08); -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#cards .card{
  text-align: center;
  display: block;
  top: -150px;
  z-index: 9999999;
  filter: opacity(0.6);
  transition: all 0.5s ease-in;
}

#cards .card:hover{
  filter: opacity(1);
}
#carousel-skil img { 
  display: block;
  width: 200px;
  height: 212px;
  
}